<h1>Hey, <%= @user.name.capitalize %>! This is the info you currently have for...
<br> <center><%= @plant.name.capitalize %></center>
</h1>
<br><br>

<center><p>
<h4>Plant info:</h4>
<br> <%= @plant.description %></p>
</center>



<div class="sidebar">
<h3>Your Community</h3><hr />
<% @plant_users.each do |plant| %>
  <% if !@plant_users.empty? %>  
  <%= plant.user.name.capitalize %> also has a <%= plant.name.capitalize %> plant!<br>
  <% end %> 
<% end %>

</div>

<div class="sidebar" align="left">
<br><br><h5>Would you like to edit this plant? Follow <a href='/plants/<%= @plant.id %>/edit_plant'> this link </a> to edit!</h4>
<br><hr />
<h5>You can also delete this plant entry here!</h5>

<form method="post" action="/plants/<%= @plant.id %>/delete_plant">
  <input id="hidden" type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete this plant" />
</form>
</div>