
<h1>Welcome to your CommunityGarden, <%= @user.name.capitalize %>! </h1>
<body>
<br><br><br>
 <big><b>Current Acount details:</b></big>
<br>
<b><u>- Email:</b></u> <%= @user.email %> <br>
<b><u>- Street Address:</b></u> <%= @user.address %> <br><br><br>

<% unless @plants.nil? %>
<h3>Plants in your Community: </h3>
<% @plants.each do |plant| %>

    - <%= plant.user.name.capitalize if plant.user %> has a <%= plant.name.capitalize %> plant! <br>


    <% end %>
<% end %>



<div class="sidebar">

<a href='/plants'><h3> View your Garden!</h3></a>
<a href='/plants/new'><h3> Add a plant to your Garden!</h3></a>
<a href='/users/<%= @user.id %>/edit_profile'><h3>Edit Account Details</a></h3>

</div>
</body>